<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light fixed-top">
      <span class="navbar-brand mb-0 h1"><%= link_to "Wikinimous", articles_path %></span>
      <a class="btn btn-light" href="#">New Article</a>
    </nav>
    <div class="my-2 container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
